@font-face {
    font-family: "Figtree";
    src: url("@fonts/Figtree/Figtree-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("@fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("@fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("@fonts/Red_Hat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
